.vertical-layout.vertical-menu-modern .main-menu .navigation .menu-content > li > a svg,
.vertical-layout.vertical-menu-modern .main-menu .navigation .menu-content > li > a i {
    height: 18px!important;
    width: 18px!important;
}
.btn {
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-title {
    color: #5E5873!important;
    user-select: none;
}